---
// @ts-nocheck
import Card from '@/components/Card.astro';
import SearchableGrid from '@/components/SearchableGrid.astro';
import Layout from '@/layouts/Layout.astro';

export async function getStaticPaths() {
    const DATA_URL = 'https://raw.githubusercontent.com/AutumnVN/StellaSoraData/refs/heads/main/ascension.json';
    const data = await fetch(DATA_URL).then((res) => res.json());

    return Object.keys(data).map((groupId) => ({
        params: { groupId },
    }));
}

const DATA_URL = 'https://raw.githubusercontent.com/AutumnVN/StellaSoraData/refs/heads/main/ascension.json';

const { params } = Astro;
const groupId = params.groupId;

const data = await fetch(DATA_URL).then((res) => res.json());
const group = data[groupId];

const emoji = {
    Aqua: '💧',
    Ignis: '🔥',
    Terra: '⛰️',
    Ventus: '🌪️',
    Lux: '☀️',
    Umbra: '🌙',
    None: '⬜',
};

if (!group) {
    throw Astro.redirect('/404');
}
---

<Layout title={`${group.name} | stelladb`} image={`https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/mapchallenge/${group.icon}.webp`} description={`Weak: ${group.weakTo.map((e) => e + emoji[e]).join(', ')}`}>
    <SearchableGrid placeholder={`Search ${group.name} difficulties by id, name, or element...`} noResultsText="No ascension difficulty found.">
        {
            Object.entries(group.diff).map(([id, diff]) => (
                <div class="card-item" data-id={id} data-name={diff.name} data-weakto={diff.weakTo.join(', ')} data-resistto={diff.resistTo.join(', ')}>
                    <Card href={`/ascension/${groupId}/${id}`} name={diff.name} desc={`Weak: ${diff.weakTo.map((e) => e + emoji[e]).join(', ')}`} desc2={`Resist: ${diff.resistTo.map((e) => e + emoji[e]).join(', ')}`} image={`https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/mapchallenge/${diff.icon}.webp`} position="top right -25px" />
                </div>
            ))
        }
    </SearchableGrid>
</Layout>
