---
// @ts-nocheck
import Card from '@/components/Card.astro';
import SearchableGrid from '@/components/SearchableGrid.astro';
import Layout from '@/layouts/Layout.astro';

export async function getStaticPaths() {
    const DATA_URL = 'https://raw.githubusercontent.com/AutumnVN/StellaSoraData/refs/heads/main/arena.json';
    const data = await fetch(DATA_URL).then((res) => res.json());

    return Object.keys(data).flatMap((groupId) =>
        Object.keys(data[groupId].diff).flatMap((diffId) =>
            Object.keys(data[groupId].diff[diffId].floor).map((floorId) => ({
                params: { groupId, diffId, floorId },
                props: {
                    group: data[groupId],
                    diff: data[groupId].diff[diffId],
                    floor: data[groupId].diff[diffId].floor[floorId],
                },
            })),
        ),
    );
}

const {
    params: { groupId, diffId, floorId },
    props: { group, diff, floor },
} = Astro;

const emoji = {
    Aqua: '💧',
    Ignis: '🔥',
    Terra: '⛰️',
    Ventus: '🌪️',
    Lux: '☀️',
    Umbra: '🌙',
    None: '⬜',
};

if (!group || !diff || !floor) {
    throw Astro.redirect('/404');
}
---

<Layout title={`${diff.name} ${floor.name} | stelladb`} image={`https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/monster/${floor.monster[0].icon}.webp`} description={`Weak: ${floor.monster[0].weakTo.map((e) => e + emoji[e]).join(', ')}, Resist: ${floor.monster[0].resistTo}${emoji[floor.monster[0].resistTo]}`}>
    <div class="page">
        <SearchableGrid placeholder={`Search ${diff.name} monsters by id, name, or element...`} noResultsText="No arena monster found.">
            {
                Object.entries(floor.monster).map(([id, monster]) => (
                    <div class="card-item" data-id={id} data-name={monster.name} data-weakto={monster.weakTo.join(', ')} data-resistto={monster.resistTo}>
                        <Card href={`/arena/${groupId}/${diffId}/${floorId}/${id}`} name={monster.name} desc={`Weak: ${monster.weakTo.map((e) => e + emoji[e]).join(', ')}`} desc2={`Resist: ${monster.resistTo}${emoji[monster.resistTo]}`} image={`https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/monster/${monster.icon}.webp`} inset={-30} charClass={monster.type !== 'Normal' && monster.type} />
                    </div>
                ))
            }
        </SearchableGrid>

        <div class="mechanic">
            <h2>Mechanic</h2>
            {
                floor.mechanic.map((mechanic) => (
                    <>
                        <h3>{mechanic.name}</h3>
                        <p class="indent">{mechanic.desc}</p>
                    </>
                ))
            }
        </div>
    </div>
</Layout>

<style>
    .page {
        h2 {
            margin: 1rem 0;
        }

        h3 {
            margin: 0.75rem 0;
        }

        p {
            margin: 0.25rem 0;
        }
    }
</style>
