---
// @ts-nocheck
import { Image } from 'astro:assets';
import Layout from '@/layouts/Layout.astro';
import Page from '@/components/Page.astro';
import Tabs from '@/components/Tabs.astro';

export async function getStaticPaths() {
    const DATA_URL = 'https://raw.githubusercontent.com/AutumnVN/StellaSoraData/refs/heads/main/character.json';
    const UNRELEASED_URL = 'https://raw.githubusercontent.com/AutumnVN/StellaSoraData/refs/heads/main/unreleased.json';
    const ITEM_URL = 'https://raw.githubusercontent.com/AutumnVN/StellaSoraData/refs/heads/main/item.json';
    const WORD_URL = 'https://raw.githubusercontent.com/AutumnVN/StellaSoraData/refs/heads/main/word.json';

    const [data, unreleased, itemData, word] = await Promise.all([
        fetch(DATA_URL)
            .then((r) => r.json())
            .catch(() => ({})),
        fetch(UNRELEASED_URL)
            .then((r) => r.json())
            .catch(() => ({})),
        fetch(ITEM_URL)
            .then((r) => r.json())
            .catch(() => ({})),
        fetch(WORD_URL)
            .then((r) => r.json())
            .catch(() => ({})),
    ]);

    const both = Object.assign({}, data, unreleased);

    return Object.keys(both).map((id) => ({
        params: { id },
        props: { char: both[id], itemData, word },
    }));
}

const {
    params: { id },
    props: { char, itemData, word },
} = Astro;
const isUnreleased = /^\d+/.test(char.name);

if (char.tag[0] === char.class) {
    char.tag.shift();
}

const emoji = {
    Aqua: '💧',
    Ignis: '🔥',
    Terra: '⛰️',
    Ventus: '🌪️',
    Lux: '☀️',
    Umbra: '🌙',
    None: '⬜',
    Melee: '⚔️',
    Ranged: '🏹',
};

if (!char) {
    throw Astro.redirect('/404');
}
---

<Layout title={`${char.name} | stelladb`} image={isUnreleased ? undefined : `https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/head/head_${id}02_XL.webp`} description={`${char.star}⭐ ${char.element}${emoji[char.element]} ${char.class}${emoji[char.attackType]} ${char.tag.join(' ')}`}>
    <Page data-json={JSON.stringify(char)} data-item={JSON.stringify(itemData)} data-word={JSON.stringify(word)}>
        <Fragment slot="header">
            <h1>{char.name}</h1>
            <Tabs>
                <button data-tab="details" class="tab active">Details</button>
                <button data-tab="skills" class="tab">Skills</button>
                <button data-tab="potentials" class="tab">Potentials</button>
                <button data-tab="talents" class="tab">Talents</button>
                <button data-tab="gifts" class="tab">Gifts</button>
                <button data-tab="dates" class="tab">Dates</button>
            </Tabs>
        </Fragment>

        <Fragment slot="left">
            {!isUnreleased && <Image src={`https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/head/head_${id}02_XL.webp`} alt={char.name} title={char.name} width="256" height="340" densities={[1.25]} />}
            <div class="info">
                <p class="indent">
                    {`${char.star}⭐`}<br />
                    {char.element}{emoji[char.element]}<br />
                    {char.class}{emoji[char.attackType]}<br />
                    {
                        char.tag.map((tag) => (
                            <>
                                {tag}
                                <br />
                            </>
                        ))
                    }
                    🎤 {char.jpCv}<br />
                    🎂 {char.birthday}<br />
                </p>
                <a class="wiki" href={`https://stellasora.miraheze.org/wiki/${char.name.replace(/^\d{3}\s/, '').replaceAll(' ', '_')}`} target="_blank">Open in Wiki ↗</a>
            </div>
        </Fragment>

        <Fragment slot="right">
            <section id="details" class="tab-panel">
                <div class="slider-container">
                    <div class="slider upgrade1">
                        <label class="upgrade1-output">Upgrade: 8</label>
                        <input type="range" id="upgrade1" min="0" max="8" value="8" />
                    </div>

                    <div class="slider level">
                        <label class="level-output">Level: 90</label>
                        <input type="range" id="level" min="0" max="10" value="10" />
                    </div>
                </div>

                <div class="stats">
                    <h2>Stats</h2>
                    <div class="indent">
                        <p>
                            {
                                char.stat.length &&
                                    Object.entries(char.stat[97]).map(([stat, value]) => (
                                        <>
                                            {stat}: {value.toLocaleString('en-US')}
                                            <br />
                                        </>
                                    ))
                            }
                        </p>
                        <p>
                            {
                                Object.entries(char.fixedStat).map(([stat, value]) => (
                                    <>
                                        {stat}: {value.toLocaleString('en-US')}
                                        <br />
                                    </>
                                ))
                            }
                        </p>
                    </div>
                </div>

                <div class="upgrade-cost">
                    <h2>Next upgrade cost</h2>
                    <div class="indent">
                        <label class="cumulative checkbox"><input type="checkbox" id="cumulative-upgrade" /> Cumulative</label>
                        <label class="convert-to-tier-1 checkbox"><input type="checkbox" id="convert-to-tier-1-upgrade" /> Convert to Tier 1</label>
                        <div class="item-image">
                            {
                                char.upgrade.length &&
                                    Array.from(new Set(char.upgrade.flatMap((u) => (u ? Object.keys(u) : []))))
                                        .sort((a, b) => {
                                            const ida = Object.values(itemData).find((item) => item.name === a).id;
                                            const idb = Object.values(itemData).find((item) => item.name === b).id;
                                            if (ida === 1) return 1;
                                            if (idb === 1) return -1;
                                            return ida - idb;
                                        })
                                        .map((itemName) => {
                                            const item = Object.values(itemData).find((it) => it.name === itemName);
                                            if (!item) return null;
                                            return (
                                                <div style={`background: url('/${item.rarity}.avif') center/cover no-repeat; width: 52px; height: 52px; display: inline-block; padding: 4px;`}>
                                                    <Image src={`https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/item/item_${item.id}.webp`} alt={itemName} title={itemName} width="52" height="52" densities={[1.25]} />
                                                </div>
                                            );
                                        })
                            }
                        </div>
                        <p>
                            Max upgrade reached<br />
                            {
                                char.upgrade.length &&
                                    Object.entries(char.upgrade[7]).map(([item, amount]) => (
                                        <>
                                            {item}: {amount.toLocaleString('en-US')}
                                            <br />
                                        </>
                                    ))
                            }
                        </p>
                    </div>
                </div>
            </section>

            <section id="skills" class="tab-panel" hidden>
                <div class="slider-container">
                    <div class="slider upgrade2">
                        <label class="upgrade2-output">Upgrade: 0</label>
                        <input type="range" id="upgrade2" min="0" max="8" value="8" />
                    </div>
                    <div class="slider skill-level1">
                        <label class="skill-level1-output">Skill level: 1</label>
                        <input type="range" id="skill-level1" min="1" max="13" value="10" />
                    </div>
                </div>

                <div class="langtabs-wrapper" data-lang="EN">
                    <nav class="langtabs">
                        <button class="langtab active" data-lang="EN">EN</button>
                        <button class="langtab" data-lang="CN">CN</button>
                        <button class="langtab" data-lang="JP">JP</button>
                        <button class="langtab" data-lang="KR">KR</button>
                    </nav>
                </div>

                {!char.normalAtk && !char.skill && !char.supportSkill && !char.ultimate && <p class="indent">No data available</p>}

                {
                    char.normalAtk && (
                        <div class="normal-attack">
                            <div class="skill-header">
                                {!isUnreleased && <Image src={`https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/skill/${char.normalAtk.icon}.webp`} alt={char.normalAtk.name} title={char.normalAtk.name} width="64" height="64" densities={[1.25]} />}
                                <div>
                                    <h2>Normal attack: {char.normalAtk.name}</h2>
                                    <div>Energy Limit: {char.normalAtk.energyLimit}</div>
                                </div>
                            </div>
                            <div class="indent">
                                <p>{char.normalAtk.desc}</p>
                                {!char.normalAtk.damageType.length ? null : (
                                    <p class="small">
                                        Damage:{' '}
                                        {char.normalAtk.damageType.map((dt) => (
                                            <>
                                                {dt}
                                                <br />
                                            </>
                                        ))}
                                    </p>
                                )}
                                {!char.normalAtk.effectType.length ? null : <p class="small">Effect: {char.normalAtk.effectType.join(', ')}</p>}
                                {!char.normalAtk.addAttrType.length ? null : <p class="small">AddAttr: {char.normalAtk.addAttrType.join(', ')}</p>}
                                {!char.normalAtk.buffIcon.length ? null : <p class="small">Buff: {char.normalAtk.buffIcon.map((icon) => (icon === 'No Icon' ? 'No Icon' : <Image src={`https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/buff/${icon}.webp`} alt={icon} title={icon} width="26" height="36" densities={[1.25]} />)).reduce((prev, curr) => [prev, ' ', curr])}</p>}
                                {!char.normalAtk.effectData.length ? null : (
                                    <span class="tooltip small">
                                        hover this for effect data
                                        <div class="tooltip-text">
                                            {char.normalAtk.effectData.map((data) => (
                                                <>
                                                    {data}
                                                    <br />
                                                </>
                                            ))}
                                        </div>
                                    </span>
                                )}
                            </div>
                        </div>
                    )
                }

                {
                    char.skill && (
                        <div class="skill">
                            <div class="skill-header">
                                {!isUnreleased && <Image src={`https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/skill/${char.skill.icon}.webp`} alt={char.skill.name} title={char.skill.name} width="64" height="64" densities={[1.25]} />}
                                <div>
                                    <h2>Skill: {char.skill.name}</h2>
                                    <div>
                                        Cooldown: {char.skill.cooldown} • Energy Limit: {char.skill.energyLimit}
                                    </div>
                                </div>
                            </div>
                            <div class="indent">
                                <p>{char.skill.desc}</p>
                                {!char.skill.damageType.length ? null : (
                                    <p class="small">
                                        Damage:{' '}
                                        {char.skill.damageType.map((dt) => (
                                            <>
                                                {dt} <br />
                                            </>
                                        ))}
                                    </p>
                                )}
                                {!char.skill.effectType.length ? null : <p class="small">Effect: {char.skill.effectType.join(', ')}</p>}
                                {!char.skill.addAttrType.length ? null : <p class="small">AddAttr: {char.skill.addAttrType.join(', ')}</p>}
                                {!char.skill.buffIcon.length ? null : <p class="small">Buff: {char.skill.buffIcon.map((icon) => (icon === 'No Icon' ? 'No Icon' : <Image src={`https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/buff/${icon}.webp`} alt={icon} title={icon} width="26" height="36" densities={[1.25]} />)).reduce((prev, curr) => [prev, ' ', curr])}</p>}
                                {!char.skill.effectData.length ? null : (
                                    <span class="tooltip small">
                                        hover this for effect data
                                        <div class="tooltip-text">
                                            {char.skill.effectData.map((data) => (
                                                <>
                                                    {data}
                                                    <br />
                                                </>
                                            ))}
                                        </div>
                                    </span>
                                )}
                            </div>
                        </div>
                    )
                }

                {
                    char.supportSkill && (
                        <div class="support-skill">
                            <div class="skill-header">
                                {!isUnreleased && <Image src={`https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/skill/${char.supportSkill.icon}.webp`} alt={char.supportSkill.name} title={char.supportSkill.name} width="64" height="64" densities={[1.25]} />}
                                <div>
                                    <h2>Support skill: {char.supportSkill.name}</h2>
                                    <div>Cooldown: {char.supportSkill.cooldown}</div>
                                </div>
                            </div>
                            <div class="indent">
                                <p>{char.supportSkill.desc}</p>
                                {!char.supportSkill.damageType.length ? null : (
                                    <p class="small">
                                        Damage:{' '}
                                        {char.supportSkill.damageType.map((dt) => (
                                            <>
                                                {dt}
                                                <br />
                                            </>
                                        ))}
                                    </p>
                                )}
                                {!char.supportSkill.effectType.length ? null : <p class="small">Effect: {char.supportSkill.effectType.join(', ')}</p>}
                                {!char.supportSkill.addAttrType.length ? null : <p class="small">AddAttr: {char.supportSkill.addAttrType.join(', ')}</p>}
                                {!char.supportSkill.buffIcon.length ? null : <p class="small">Buff: {char.supportSkill.buffIcon.map((icon) => (icon === 'No Icon' ? 'No Icon' : <Image src={`https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/buff/${icon}.webp`} alt={icon} title={icon} width="26" height="36" densities={[1.25]} />)).reduce((prev, curr) => [prev, ' ', curr])}</p>}
                                {!char.supportSkill.effectData.length ? null : (
                                    <span class="tooltip small">
                                        hover this for effect data
                                        <div class="tooltip-text">
                                            {char.supportSkill.effectData.map((data) => (
                                                <>
                                                    {data}
                                                    <br />
                                                </>
                                            ))}
                                        </div>
                                    </span>
                                )}
                            </div>
                        </div>
                    )
                }

                {
                    char.ultimate && (
                        <div class="ultimate">
                            <div class="skill-header">
                                {!isUnreleased && <Image src={`https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/skill/${char.ultimate.icon}.webp`} alt={char.ultimate.name} title={char.ultimate.name} width="64" height="64" densities={[1.25]} />}
                                <div>
                                    <h2>Ultimate: {char.ultimate.name}</h2>
                                    <div>
                                        Cooldown: {char.ultimate.cooldown} • Energy: {char.ultimate.energy}
                                    </div>
                                </div>
                            </div>
                            <div class="indent">
                                <p>{char.ultimate.desc}</p>
                                {!char.ultimate.damageType.length ? null : (
                                    <p class="small">
                                        Damage:{' '}
                                        {char.ultimate.damageType.map((dt) => (
                                            <>
                                                {dt}
                                                <br />
                                            </>
                                        ))}
                                    </p>
                                )}
                                {!char.ultimate.effectType.length ? null : <p class="small">Effect: {char.ultimate.effectType.join(', ')}</p>}
                                {!char.ultimate.addAttrType.length ? null : <p class="small">AddAttr: {char.ultimate.addAttrType.join(', ')}</p>}
                                {!char.ultimate.buffIcon.length ? null : <p class="small">Buff: {char.ultimate.buffIcon.map((icon) => (icon === 'No Icon' ? 'No Icon' : <Image src={`https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/buff/${icon}.webp`} alt={icon} title={icon} width="26" height="36" densities={[1.25]} />)).reduce((prev, curr) => [prev, ' ', curr])}</p>}
                                {!char.ultimate.effectData.length ? null : (
                                    <span class="tooltip small">
                                        hover this for effect data
                                        <div class="tooltip-text">
                                            {char.ultimate.effectData.map((data) => (
                                                <>
                                                    {data}
                                                    <br />
                                                </>
                                            ))}
                                        </div>
                                    </span>
                                )}
                            </div>
                        </div>
                    )
                }

                {
                    char.special && (
                        <div class="special">
                            <h2>Special: {char.special.name}</h2>
                            <div class="indent">
                                <p>Type: {char.special.type}</p>
                                <p>Params: {char.special.params}</p>
                                <p class="small">Damage: {char.special.damageType}</p>
                            </div>
                        </div>
                    )
                }

                <div class="skill-upgrade-cost">
                    <h2>Next skill upgrade cost</h2>
                    <div class="indent">
                        <label class="cumulative checkbox"><input type="checkbox" id="cumulative-skill" /> Cumulative</label>
                        <label class="convert-to-tier-1 checkbox"><input type="checkbox" id="convert-to-tier-1-skill" /> Convert to Tier 1</label>
                        <div class="item-image">
                            {
                                char.skillUpgrade.length &&
                                    Array.from(new Set(char.skillUpgrade.flatMap((u) => (u ? Object.keys(u) : []))))
                                        .sort((a, b) => {
                                            const ida = Object.values(itemData).find((item) => item.name === a).id;
                                            const idb = Object.values(itemData).find((item) => item.name === b).id;
                                            if (ida === 1) return 1;
                                            if (idb === 1) return -1;
                                            return ida - idb;
                                        })
                                        .map((itemName) => {
                                            const item = Object.values(itemData).find((it) => it.name === itemName);
                                            if (!item) return null;
                                            return (
                                                <div style={`background: url('/${item.rarity}.avif') center/cover no-repeat; width: 52px; height: 52px; display: inline-block; padding: 4px;`}>
                                                    <Image src={`https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/item/item_${item.id}.webp`} alt={itemName} title={itemName} width="52" height="52" densities={[1.25]} />
                                                </div>
                                            );
                                        })
                            }
                        </div>
                        <p>
                            Max upgrade reached<br />
                            {
                                char.skillUpgrade.length &&
                                    Object.entries(char.skillUpgrade[8]).map(([item, amount]) => (
                                        <>
                                            {item}: {amount.toLocaleString('en-US')}
                                            <br />
                                        </>
                                    ))
                            }
                        </p>
                    </div>
                </div>
            </section>

            <section id="potentials" class="tab-panel" hidden>
                <div class="slider-container">
                    <div class="slider potential-level">
                        <label class="potential-level-output">Potential level: 1</label>
                        <input type="range" id="potential-level" min="1" max="9" value="6" />
                    </div>
                    <div class="slider skill-level2">
                        <label class="skill-level2-output">Skill level: 1</label>
                        <input type="range" id="skill-level2" min="1" max="13" value="10" />
                    </div>
                </div>

                <div class="langtabs-wrapper" data-lang="EN">
                    <nav class="langtabs">
                        <button class="langtab active" data-lang="EN">EN</button>
                        <button class="langtab" data-lang="CN">CN</button>
                        <button class="langtab" data-lang="JP">JP</button>
                        <button class="langtab" data-lang="KR">KR</button>
                    </nav>
                </div>

                <h2>Main core</h2>
                {
                    char.potential.mainCore?.length &&
                        char.potential.mainCore.map((pot) => (
                            <div class="potential-wrapper">
                                {!isUnreleased && <Image src={`https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/potential/${pot.id}.webp`} alt={pot.name} title={pot.name} width="120" height="153" densities={[1.25]} />}
                                <div class="potential" data-potential={JSON.stringify(pot)}>
                                    <h3>
                                        {pot.id % 100}. {pot.name}
                                    </h3>
                                    <div class="indent">
                                        <p>{pot.desc}</p>
                                        {!pot.damageType.length ? null : (
                                            <p class="small">
                                                Damage:{' '}
                                                {pot.damageType.map((dt) => (
                                                    <>
                                                        {dt}
                                                        <br />
                                                    </>
                                                ))}
                                            </p>
                                        )}
                                        {!pot.effectType.length ? null : <p class="small">Effect: {pot.effectType.join(', ')}</p>}
                                        {!pot.addAttrType.length ? null : <p class="small">AddAttr: {pot.addAttrType.join(', ')}</p>}
                                        {!pot.buffIcon.length ? null : <p class="small">Buff: {pot.buffIcon.map((icon) => (icon === 'No Icon' ? 'No Icon' : <Image src={`https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/buff/${icon}.webp`} alt={icon} title={icon} width="26" height="36" densities={[1.25]} />)).reduce((prev, curr) => [prev, ' ', curr])}</p>}
                                        {!pot.effectData.length ? null : (
                                            <span class="tooltip small">
                                                hover this for effect data
                                                <div class="tooltip-text">
                                                    {pot.effectData.map((data) => (
                                                        <>
                                                            {data}
                                                            <br />
                                                        </>
                                                    ))}
                                                </div>
                                            </span>
                                        )}
                                    </div>
                                </div>
                            </div>
                        ))
                }
                <h2>Main normal</h2>
                {
                    char.potential.mainNormal?.length &&
                        char.potential.mainNormal.map((pot) => (
                            <div class="potential-wrapper">
                                {!isUnreleased && <Image src={`https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/potential/${pot.id}.webp`} alt={pot.name} title={pot.name} width="120" height="153" densities={[1.25]} />}
                                <div class="potential" data-potential={JSON.stringify(pot)}>
                                    <h3>
                                        {pot.id % 100}. {pot.name}
                                    </h3>
                                    <div class="indent">
                                        <p>{pot.desc}</p>
                                        {!pot.damageType.length ? null : (
                                            <p class="small">
                                                Damage:{' '}
                                                {pot.damageType.map((dt) => (
                                                    <>
                                                        {dt}
                                                        <br />
                                                    </>
                                                ))}
                                            </p>
                                        )}
                                        {!pot.effectType.length ? null : <p class="small">Effect: {pot.effectType.join(', ')}</p>}
                                        {!pot.addAttrType.length ? null : <p class="small">AddAttr: {pot.addAttrType.join(', ')}</p>}
                                        {!pot.buffIcon.length ? null : <p class="small">Buff: {pot.buffIcon.map((icon) => (icon === 'No Icon' ? 'No Icon' : <Image src={`https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/buff/${icon}.webp`} alt={icon} title={icon} width="26" height="36" densities={[1.25]} />)).reduce((prev, curr) => [prev, ' ', curr])}</p>}
                                        {!pot.effectData.length ? null : (
                                            <span class="tooltip small">
                                                hover this for effect data
                                                <div class="tooltip-text">
                                                    {pot.effectData.map((data) => (
                                                        <>
                                                            {data}
                                                            <br />
                                                        </>
                                                    ))}
                                                </div>
                                            </span>
                                        )}
                                    </div>
                                </div>
                            </div>
                        ))
                }
                <h2>Common</h2>
                {
                    char.potential.common?.length &&
                        char.potential.common.map((pot) => (
                            <div class="potential-wrapper">
                                {!isUnreleased && <Image src={`https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/potential/${pot.id}.webp`} alt={pot.name} title={pot.name} width="120" height="153" densities={[1.25]} />}
                                <div class="potential" data-potential={JSON.stringify(pot)}>
                                    <h3>
                                        {pot.id % 100}. {pot.name}
                                    </h3>
                                    <div class="indent">
                                        <p>{pot.desc}</p>
                                        {!pot.damageType.length ? null : (
                                            <p class="small">
                                                Damage:{' '}
                                                {pot.damageType.map((dt) => (
                                                    <>
                                                        {dt}
                                                        <br />
                                                    </>
                                                ))}
                                            </p>
                                        )}
                                        {!pot.effectType.length ? null : <p class="small">Effect: {pot.effectType.join(', ')}</p>}
                                        {!pot.addAttrType.length ? null : <p class="small">AddAttr: {pot.addAttrType.join(', ')}</p>}
                                        {!pot.buffIcon.length ? null : <p class="small">Buff: {pot.buffIcon.map((icon) => (icon === 'No Icon' ? 'No Icon' : <Image src={`https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/buff/${icon}.webp`} alt={icon} title={icon} width="26" height="36" densities={[1.25]} />)).reduce((prev, curr) => [prev, ' ', curr])}</p>}
                                        {!pot.effectData.length ? null : (
                                            <span class="tooltip small">
                                                hover this for effect data
                                                <div class="tooltip-text">
                                                    {pot.effectData.map((data) => (
                                                        <>
                                                            {data}
                                                            <br />
                                                        </>
                                                    ))}
                                                </div>
                                            </span>
                                        )}
                                    </div>
                                </div>
                            </div>
                        ))
                }
                <h2>Support core</h2>
                {
                    char.potential.supportCore?.length &&
                        char.potential.supportCore.map((pot) => (
                            <div class="potential-wrapper">
                                {!isUnreleased && <Image src={`https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/potential/${pot.id}.webp`} alt={pot.name} title={pot.name} width="120" height="153" densities={[1.25]} />}
                                <div class="potential" data-potential={JSON.stringify(pot)}>
                                    <h3>
                                        {pot.id % 100}. {pot.name}
                                    </h3>
                                    <div class="indent">
                                        <p>{pot.desc}</p>
                                        {!pot.damageType.length ? null : (
                                            <p class="small">
                                                Damage:{' '}
                                                {pot.damageType.map((dt) => (
                                                    <>
                                                        {dt}
                                                        <br />
                                                    </>
                                                ))}
                                            </p>
                                        )}
                                        {!pot.effectType.length ? null : <p class="small">Effect: {pot.effectType.join(', ')}</p>}
                                        {!pot.addAttrType.length ? null : <p class="small">AddAttr: {pot.addAttrType.join(', ')}</p>}
                                        {!pot.buffIcon.length ? null : <p class="small">Buff: {pot.buffIcon.map((icon) => (icon === 'No Icon' ? 'No Icon' : <Image src={`https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/buff/${icon}.webp`} alt={icon} title={icon} width="26" height="36" densities={[1.25]} />)).reduce((prev, curr) => [prev, ' ', curr])}</p>}
                                        {!pot.effectData.length ? null : (
                                            <span class="tooltip small">
                                                hover this for effect data
                                                <div class="tooltip-text">
                                                    {pot.effectData.map((data) => (
                                                        <>
                                                            {data}
                                                            <br />
                                                        </>
                                                    ))}
                                                </div>
                                            </span>
                                        )}
                                    </div>
                                </div>
                            </div>
                        ))
                }
                <h2>Support normal</h2>
                {
                    char.potential.supportNormal?.length &&
                        char.potential.supportNormal.map((pot) => (
                            <div class="potential-wrapper">
                                {!isUnreleased && <Image src={`https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/potential/${pot.id}.webp`} alt={pot.name} title={pot.name} width="120" height="153" densities={[1.25]} />}
                                <div class="potential" data-potential={JSON.stringify(pot)}>
                                    <h3>
                                        {pot.id % 100}. {pot.name}
                                    </h3>
                                    <div class="indent">
                                        <p>{pot.desc}</p>
                                        {!pot.damageType.length ? null : (
                                            <p class="small">
                                                Damage:{' '}
                                                {pot.damageType.map((dt) => (
                                                    <>
                                                        {dt}
                                                        <br />
                                                    </>
                                                ))}
                                            </p>
                                        )}
                                        {!pot.effectType.length ? null : <p class="small">Effect: {pot.effectType.join(', ')}</p>}
                                        {!pot.addAttrType.length ? null : <p class="small">AddAttr: {pot.addAttrType.join(', ')}</p>}
                                        {!pot.buffIcon.length ? null : <p class="small">Buff: {pot.buffIcon.map((icon) => (icon === 'No Icon' ? 'No Icon' : <Image src={`https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/buff/${icon}.webp`} alt={icon} title={icon} width="26" height="36" densities={[1.25]} />)).reduce((prev, curr) => [prev, ' ', curr])}</p>}
                                        {!pot.effectData.length ? null : (
                                            <span class="tooltip small">
                                                hover this for effect data
                                                <div class="tooltip-text">
                                                    {pot.effectData.map((data) => (
                                                        <>
                                                            {data}
                                                            <br />
                                                        </>
                                                    ))}
                                                </div>
                                            </span>
                                        )}
                                    </div>
                                </div>
                            </div>
                        ))
                }
            </section>

            <section id="talents" class="tab-panel" hidden>
                <div class="langtabs-wrapper" data-lang="EN">
                    <nav class="langtabs">
                        <button class="langtab active" data-lang="EN">EN</button>
                        <button class="langtab" data-lang="CN">CN</button>
                        <button class="langtab" data-lang="JP">JP</button>
                        <button class="langtab" data-lang="KR">KR</button>
                    </nav>
                </div>

                {
                    char.talent.map((talent, index) => (
                        <div class="talent">
                            <h2>
                                {index + 1}. {talent.name}
                            </h2>
                            <div class="indent">
                                <p>{talent.boost[0].desc}</p>
                                {!talent.boost[0].effectType.length ? null : <p class="small">Effect: {talent.boost[0].effectType.join(', ')}</p>}
                                {!talent.boost[0].addAttrType.length ? null : <p class="small">AddAttr: {talent.boost[0].addAttrType.join(', ')}</p>}
                                {!talent.boost[0].buffIcon.length ? null : <p class="small">Buff: {talent.boost[0].buffIcon.map((icon) => (icon === 'No Icon' ? 'No Icon' : <Image src={`https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/buff/${icon}.webp`} alt={icon} title={icon} width="26" height="36" densities={[1.25]} />)).reduce((prev, curr) => [prev, ' ', curr])}</p>}
                                {!talent.boost[0].effectData.length ? null : (
                                    <span class="tooltip small">
                                        hover this for effect data
                                        <div class="tooltip-text">
                                            {talent.boost[0].effectData.map((data) => (
                                                <>
                                                    {data}
                                                    <br />
                                                </>
                                            ))}
                                        </div>
                                    </span>
                                )}
                            </div>
                        </div>
                    ))
                }

                <div class="talent-bonus-stat">
                    <h2>Bonus stats for each activated talent</h2>
                    <p class="indent">
                        {
                            char.talent[0].boost.slice(1).map((boost) => (
                                <>
                                    {boost.desc}
                                    <br />
                                </>
                            ))
                        }
                    </p>
                </div>

                {
                    itemData[`${id}0`] && (
                        <div class="soul-key">
                            <h2>Soul key flavor text</h2>
                            <p class="indent">
                                {itemData[`${id}0`].literary.split('\u000b').map((line) => (
                                    <>
                                        {line}
                                        <br />
                                    </>
                                ))}
                            </p>
                        </div>
                    )
                }
            </section>

            <section id="gifts" class="tab-panel" hidden>
                <div class="love-gift">
                    <h2>Love gift</h2>
                    <div class="indent">
                        {
                            char.loveGift.map((giftName) => (
                                <div style={`background: url('/${Object.values(itemData).find((it) => it.name === giftName).rarity}.avif') center/cover no-repeat; width: 52px; height: 52px; display: inline-block; padding: 4px;`}>
                                    <Image src={`https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/item/item_${Object.values(itemData).find((it) => it.name === giftName).id}.webp`} alt={giftName} title={giftName} width="52" height="52" />
                                </div>
                            ))
                        }
                        <p>
                            {
                                char.loveGift.map((gift) => (
                                    <>
                                        {gift}
                                        <br />
                                    </>
                                ))
                            }
                        </p>
                    </div>
                </div>

                <div class="hate-gift">
                    <h2>Hate gift</h2>
                    <div class="indent">
                        {
                            char.hateGift.map((giftName) => (
                                <div style={`background: url('/${Object.values(itemData).find((it) => it.name === giftName).rarity}.avif') center/cover no-repeat; width: 52px; height: 52px; display: inline-block; padding: 4px;`}>
                                    <Image src={`https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/item/item_${Object.values(itemData).find((it) => it.name === giftName).id}.webp`} alt={giftName} title={giftName} width="52" height="52" />
                                </div>
                            ))
                        }
                        <p>
                            {
                                char.hateGift.map((gift) => (
                                    <>
                                        {gift}
                                        <br />
                                    </>
                                ))
                            }
                        </p>
                    </div>
                </div>
            </section>

            <section id="dates" class="tab-panel" hidden>
                <p class="small">
                    first choice just do whatever<br />
                    special memory doesnt always happen, keep gambling<br />
                </p>
                {
                    char.date.map((date) => (
                        <div class="date">
                            <Image src={`https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/datingeventcg/DatingSPCG_${date.id}.webp`} alt={date.name} title={date.name} width="128" height="128" densities={[1.25]} />
                            <div>
                                <h2>{date.name}</h2>
                                <p>
                                    {date.clue.replace(/(Visit the | to unlock)/g, '')}
                                    <br />
                                    {date.secondChoice}
                                </p>
                            </div>
                        </div>
                    ))
                }
            </section>
        </Fragment>
    </Page>

    <script>
        // @ts-nocheck
        const char = JSON.parse(document.querySelector('.page').dataset.json);
        const itemData = JSON.parse(document.querySelector('.page').dataset.item);
        const word = JSON.parse(document.querySelector('.page').dataset.word);

        function format(desc) {
            return desc
                .replace(/<color=#(.{6})>/g, '<color style="color:#$1">')
                .replace(/\u000b/g, '<br />')
                .replace(/##([^#]*?)#(\d{1,4})#/g, (match, name, id) => {
                    const wordName = word[id].name;
                    let wordDesc = word[id].desc;

                    word[id].params.forEach((param, index) => {
                        wordDesc = wordDesc.replaceAll(`&Param${index + 1}&`, param);
                    });

                    wordDesc = wordDesc.replace(/<color=#(.{6})>/g, '<color style="color:#$1">').replace(/\u000b/g, '<br />');

                    return `<span class="tooltip word">
                        ${wordName}
                        ${word[id].icon ? `<span class="tooltip-icon"><img src="https://chino.is-a.dev/cdn-cgi/image/format=avif/https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/zzzother/${word[id].icon}.webp" alt="${wordName}" title="${wordName}"/></span>` : ''}
                        <div class="tooltip-text">
                            <b>${wordName}</b><br />
                            <p>${wordDesc}</p>
                        </div>
                    </span>`;
                })
                .replace(/#(\d{1,4})#([^#]*?)##/g, (match, id, name) => {
                    const wordName = word[id].name;
                    let wordDesc = word[id].desc;

                    word[id].params.forEach((param, index) => {
                        wordDesc = wordDesc.replaceAll(`&Param${index + 1}&`, param);
                    });

                    wordDesc = wordDesc.replace(/<color=#(.{6})>/g, '<color style="color:#$1">').replace(/\u000b/g, '<br />');

                    return `<span class="tooltip word">
                        ${wordName}
                        ${word[id].icon ? `<span class="tooltip-icon"><img src="https://chino.is-a.dev/cdn-cgi/image/format=avif/https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/zzzother/${word[id].icon}.webp" alt="${wordName}" title="${wordName}"/></span>` : ''}
                        <div class="tooltip-text">
                            <b>${wordName}</b><br />
                            <p>${wordDesc}</p>
                        </div>
                    </span>`;
                });
        }

        const upgrade1Input = document.querySelector('#upgrade1');
        const upgrade1Output = document.querySelector('.upgrade1-output');
        const levelInput = document.querySelector('#level');
        const levelOutput = document.querySelector('.level-output');
        const stats = document.querySelector('.stats p');
        const upgradeCost = document.querySelector('.upgrade-cost p');
        const upgradeCostItemImage = document.querySelector('.upgrade-cost .item-image');
        const cumulativeUpgrade = document.querySelector('#cumulative-upgrade');
        const convertToTier1Upgrade = document.querySelector('#convert-to-tier-1-upgrade');

        let upgrade1;
        let level;

        upgrade1Input.addEventListener('input', onDetailsInput);
        levelInput.addEventListener('input', onDetailsInput);
        cumulativeUpgrade.addEventListener('change', onDetailsInput);
        convertToTier1Upgrade.addEventListener('change', onDetailsInput);
        onDetailsInput();

        function onDetailsInput() {
            upgrade1 = +upgrade1Input.value;
            level = +upgrade1Input.value * 10 + +levelInput.value;

            if (level < 1) level = 1;
            if (level > 90) level = 90;

            upgrade1Output.innerHTML = `Upgrade: ${upgrade1}`;
            levelOutput.innerHTML = `Level: ${level}`;
            if (char.stat.length) {
                stats.innerHTML = Object.entries(char.stat[level + upgrade1 - 1])
                    .map(([stat, value]) => `${stat}: ${value.toLocaleString('en-US')}`)
                    .join('<br />');
            }
            if (upgrade1 >= 7) upgrade1 = 7;

            let totals = {};
            if (char.upgrade.length) {
                if (cumulativeUpgrade.checked) {
                    if (convertToTier1Upgrade.checked) {
                        for (let i = 0; i <= upgrade1; i++) {
                            Object.entries(char.upgrade[i]).forEach(([item, amount]) => {
                                const itemInfo = Object.values(itemData).find((it) => it.name === item);
                                if (itemInfo.type === 'CharacterLimitBreak') {
                                    const tier1Item = Object.values(itemData).find((it) => it.type === 'CharacterLimitBreak' && it.rarity === 'M' && it.id.toString() === `${itemInfo.id.toString().slice(0, -1)}1`);
                                    if (itemInfo.rarity === 'R') {
                                        totals[tier1Item.name] = (totals[tier1Item.name] || 0) + amount * 3;
                                    } else if (itemInfo.rarity === 'SR') {
                                        totals[tier1Item.name] = (totals[tier1Item.name] || 0) + amount * 9;
                                    } else {
                                        totals[item] = (totals[item] || 0) + amount;
                                    }
                                } else {
                                    totals[item] = (totals[item] || 0) + amount;
                                }
                            });
                        }
                    } else {
                        for (let i = 0; i <= upgrade1; i++) {
                            Object.entries(char.upgrade[i]).forEach(([item, amount]) => {
                                totals[item] = (totals[item] || 0) + amount;
                            });
                        }
                    }
                } else {
                    if (convertToTier1Upgrade.checked) {
                        Object.entries(char.upgrade[upgrade1]).forEach(([item, amount]) => {
                            const itemInfo = Object.values(itemData).find((it) => it.name === item);
                            if (itemInfo.type === 'CharacterLimitBreak') {
                                const tier1Item = Object.values(itemData).find((it) => it.type === 'CharacterLimitBreak' && it.rarity === 'M' && it.id.toString() === `${itemInfo.id.toString().slice(0, -1)}1`);
                                if (itemInfo.rarity === 'R') {
                                    totals[tier1Item.name] = (totals[tier1Item.name] || 0) + amount * 3;
                                } else if (itemInfo.rarity === 'SR') {
                                    totals[tier1Item.name] = (totals[tier1Item.name] || 0) + amount * 9;
                                } else {
                                    totals[item] = (totals[item] || 0) + amount;
                                }
                            } else {
                                totals[item] = (totals[item] || 0) + amount;
                            }
                        });
                    } else {
                        Object.entries(char.upgrade[upgrade1]).forEach(([item, amount]) => {
                            totals[item] = (totals[item] || 0) + amount;
                        });
                    }
                }
            }

            const sorted = sortByItemId(totals);
            const sortedNames = sorted.map(([itemName]) => itemName);

            upgradeCost.innerHTML = sorted.map(([item, amount]) => `${item}: ${amount.toLocaleString('en-US')}<br />`).join('');
            if (+upgrade1Input.value > 7) upgradeCost.innerHTML = 'Max upgrade reached<br />' + upgradeCost.innerHTML;
            upgradeCostItemImage.querySelectorAll('div').forEach((div) => {
                const itemName = div.querySelector('img').alt;
                div.style.display = sortedNames.includes(itemName) ? 'inline-block' : 'none';
            });
        }

        function sortByItemId(totals) {
            return Object.entries(totals).sort((a, b) => {
                const ida = Object.values(itemData).find((item) => item.name === a[0]).id;
                const idb = Object.values(itemData).find((item) => item.name === b[0]).id;
                if (ida === 1) return 1;
                if (idb === 1) return -1;
                return ida - idb;
            });
        }

        const upgrade2Input = document.querySelector('#upgrade2');
        const upgrade2Output = document.querySelector('.upgrade2-output');
        const skillLevel1Input = document.querySelector('#skill-level1');
        const skillLevel1Output = document.querySelector('.skill-level1-output');
        const normalAttackName = document.querySelector('.normal-attack h2');
        const normalAttack = document.querySelector('.normal-attack p');
        const skillName = document.querySelector('.skill h2');
        const skill = document.querySelector('.skill p');
        const supportSkillName = document.querySelector('.support-skill h2');
        const supportSkill = document.querySelector('.support-skill p');
        const ultimateName = document.querySelector('.ultimate h2');
        const ultimate = document.querySelector('.ultimate p');
        const skillUpgradeCost = document.querySelector('.skill-upgrade-cost p');
        const skillUpgradeItemImage = document.querySelector('.skill-upgrade-cost .item-image');
        const cumulativeSkill = document.querySelector('#cumulative-skill');
        const convertToTier1Skill = document.querySelector('#convert-to-tier-1-skill');
        const skillLangInput = document.querySelector('#skills .langtabs-wrapper');

        let upgrade2;
        let skillLevel;
        let skillLang;

        upgrade2Input.addEventListener('input', onSkillsInput);
        skillLevel1Input.addEventListener('input', onSkillsInput);
        cumulativeSkill.addEventListener('change', onSkillsInput);
        convertToTier1Skill.addEventListener('change', onSkillsInput);
        skillLangInput.addEventListener('click', (e) => {
            if (e.target.classList.contains('langtab')) {
                skillLangInput.querySelectorAll('.langtab').forEach((btn) => btn.classList.remove('active'));
                e.target.classList.add('active');
                skillLangInput.dataset.lang = e.target.dataset.lang;
                onSkillsInput();
            }
        });
        onSkillsInput();

        function onSkillsInput() {
            upgrade2 = +upgrade2Input.value;
            skillLevel = +skillLevel1Input.value;
            skillLang = skillLangInput.dataset.lang;

            if (skillLevel < 1) skillLevel = 1;
            if (skillLevel > 13) skillLevel = 13;

            upgrade2Output.innerHTML = `Upgrade: ${upgrade2}`;
            skillLevel1Output.innerHTML = `Skill level: ${skillLevel}`;
            const nameLang = `name${skillLang === 'EN' ? '' : skillLang}`;
            const descLang = `desc${skillLang === 'EN' ? '' : skillLang}`;
            normalAttackName.innerHTML = `Normal attack: ${char.normalAtk[nameLang]}`;
            skillName.innerHTML = `Skill: ${char.skill[nameLang]}`;
            supportSkillName.innerHTML = `Support Skill: ${char.supportSkill[nameLang]}`;
            ultimateName.innerHTML = `Ultimate: ${char.ultimate[nameLang]}`;

            normalAttack.innerHTML = replaceSkillParams(char.normalAtk[descLang], char.normalAtk.params, char.normalAtk.paramsTooltips, upgrade2, skillLevel);
            skill.innerHTML = replaceSkillParams(char.skill[descLang], char.skill.params, char.skill.paramsTooltips, upgrade2, skillLevel);
            supportSkill.innerHTML = replaceSkillParams(char.supportSkill[descLang], char.supportSkill.params, char.supportSkill.paramsTooltips, upgrade2, skillLevel);
            ultimate.innerHTML = replaceSkillParams(char.ultimate[descLang], char.ultimate.params, char.ultimate.paramsTooltips, upgrade2, skillLevel);

            if (skillLevel >= 9) skillLevel = 9;

            let totals = {};
            if (char.skillUpgrade.length) {
                if (cumulativeSkill.checked) {
                    if (convertToTier1Skill.checked) {
                        for (let i = 0; i <= skillLevel - 1; i++) {
                            Object.entries(char.skillUpgrade[i]).forEach(([item, amount]) => {
                                const itemInfo = Object.values(itemData).find((it) => it.name === item);
                                if (itemInfo.type === 'SkillStrengthen') {
                                    const tier1Item = Object.values(itemData).find((it) => it.type === 'SkillStrengthen' && it.rarity === 'M' && it.id.toString() === `${itemInfo.id.toString().slice(0, -1)}1`);
                                    if (itemInfo.rarity === 'R') {
                                        totals[tier1Item.name] = (totals[tier1Item.name] || 0) + amount * 3;
                                    } else if (itemInfo.rarity === 'SR') {
                                        totals[tier1Item.name] = (totals[tier1Item.name] || 0) + amount * 9;
                                    } else {
                                        totals[item] = (totals[item] || 0) + amount;
                                    }
                                } else {
                                    totals[item] = (totals[item] || 0) + amount;
                                }
                            });
                        }
                    } else {
                        for (let i = 0; i <= skillLevel - 1; i++) {
                            Object.entries(char.skillUpgrade[i]).forEach(([item, amount]) => {
                                totals[item] = (totals[item] || 0) + amount;
                            });
                        }
                    }
                } else {
                    if (convertToTier1Skill.checked) {
                        Object.entries(char.skillUpgrade[skillLevel - 1]).forEach(([item, amount]) => {
                            const itemInfo = Object.values(itemData).find((it) => it.name === item);
                            if (itemInfo.type === 'SkillStrengthen') {
                                const tier1Item = Object.values(itemData).find((it) => it.type === 'SkillStrengthen' && it.rarity === 'M' && it.id.toString() === `${itemInfo.id.toString().slice(0, -1)}1`);
                                if (itemInfo.rarity === 'R') {
                                    totals[tier1Item.name] = (totals[tier1Item.name] || 0) + amount * 3;
                                } else if (itemInfo.rarity === 'SR') {
                                    totals[tier1Item.name] = (totals[tier1Item.name] || 0) + amount * 9;
                                } else {
                                    totals[item] = (totals[item] || 0) + amount;
                                }
                            } else {
                                totals[item] = (totals[item] || 0) + amount;
                            }
                        });
                    } else {
                        Object.entries(char.skillUpgrade[skillLevel - 1]).forEach(([item, amount]) => {
                            totals[item] = (totals[item] || 0) + amount;
                        });
                    }
                }
            }

            const sorted = sortByItemId(totals);
            const sortedNames = sorted.map(([itemName]) => itemName);

            skillUpgradeCost.innerHTML = sorted.map(([item, amount]) => `${item}: ${amount.toLocaleString('en-US')}<br />`).join('');
            if (+skillLevel1Input.value > 9) skillUpgradeCost.innerHTML = 'Max upgrade reached<br />' + skillUpgradeCost.innerHTML;
            skillUpgradeItemImage.querySelectorAll('div').forEach((div) => {
                const itemName = div.querySelector('img').alt;
                div.style.display = sortedNames.includes(itemName) ? 'inline-block' : 'none';
            });
        }

        function replaceSkillParams(desc, params, tooltips, upgrade, level) {
            let result = desc;

            params.forEach((paramSet, index) => {
                const splitted = paramSet.toString().split('/');
                const paramValue = splitted.length === 13 ? splitted[skillLevel - 1] : splitted.length === 9 ? splitted[upgrade2] : splitted[0];
                const tooltip = tooltips[index];
                const tooltipContent = `
                    ${!tooltip.damageType ? '' : `Damage: ${tooltip.damageType}<br />`}
                    ${!tooltip.effectType ? '' : `Effect: ${tooltip.effectType}<br />`}
                    ${!tooltip.addAttrType ? '' : `AddAttr: ${tooltip.addAttrType}<br />`}
                    ${!tooltip.buffIcon ? '' : `Buff: ${tooltip.buffIcon === 'No Icon' ? 'No Icon' : `<img src="https://chino.is-a.dev/cdn-cgi/image/format=avif/https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/buff/${tooltip.buffIcon}.webp" alt="${tooltip.buffIcon}" title="${tooltip.buffIcon}" width="26" height="36" />`}<br />`}
                `.trim();
                result = result.replaceAll(`&Param${index + 1}&`, !tooltipContent ? paramValue : `<span class="tooltip">${paramValue}<span class="tooltip-text">${tooltipContent}</span></span>`);
            });

            return format(result);
        }

        const potentialLevelInput = document.querySelector('#potential-level');
        const potentialLevelOutput = document.querySelector('.potential-level-output');
        const skillLevel2Input = document.querySelector('#skill-level2');
        const skillLevel2Output = document.querySelector('.skill-level2-output');
        const potentialElements = document.querySelectorAll('.potential');
        const potentialLangInput = document.querySelector('#potentials .langtabs-wrapper');

        let potentialLevel;
        let skillLevel2;
        let potentialLang;

        potentialLevelInput.addEventListener('input', onPotentialsInput);
        skillLevel2Input.addEventListener('input', onPotentialsInput);
        potentialLangInput.addEventListener('click', (e) => {
            if (e.target.classList.contains('langtab')) {
                potentialLangInput.querySelectorAll('.langtab').forEach((btn) => btn.classList.remove('active'));
                e.target.classList.add('active');
                potentialLangInput.dataset.lang = e.target.dataset.lang;
                onPotentialsInput();
            }
        });
        onPotentialsInput();

        function onPotentialsInput() {
            potentialLevel = +potentialLevelInput.value;
            skillLevel2 = +skillLevel2Input.value;
            potentialLang = potentialLangInput.dataset.lang;

            potentialLevelOutput.innerHTML = `Potential level: ${potentialLevel}`;
            skillLevel2Output.innerHTML = `Skill level: ${skillLevel2}`;
            potentialElements.forEach((e) => {
                const pot = JSON.parse(e.dataset.potential);
                const nameLang = `name${potentialLang === 'EN' ? '' : potentialLang}`;
                const descLang = `desc${potentialLang === 'EN' ? '' : potentialLang}`;

                let result = pot[descLang];

                pot.params.forEach((paramSet, index) => {
                    const splitted = paramSet.toString().split('/');
                    const paramValue = splitted.length === 13 ? splitted[skillLevel2 - 1] : splitted.length === 9 ? splitted[potentialLevel - 1] : splitted[0];
                    const tooltip = pot.paramsTooltips[index];
                    const tooltipContent = `
                        ${!tooltip.damageType ? '' : `Damage: ${tooltip.damageType}<br />`}
                        ${!tooltip.effectType ? '' : `Effect: ${tooltip.effectType}<br />`}
                        ${!tooltip.addAttrType ? '' : `AddAttr: ${tooltip.addAttrType}<br />`}
                        ${!tooltip.buffIcon ? '' : `Buff: ${tooltip.buffIcon === 'No Icon' ? 'No Icon' : `<img src="https://chino.is-a.dev/cdn-cgi/image/format=avif/https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/buff/${tooltip.buffIcon}.webp" alt="${tooltip.buffIcon}" title="${tooltip.buffIcon}" width="26" height="36" />`}<br />`}
                    `.trim();
                    result = result.replaceAll(`&Param${index + 1}&`, !tooltipContent ? paramValue : `<span class="tooltip">${paramValue}<span class="tooltip-text">${tooltipContent}</span></span>`);
                });

                pot.hiddenParams.forEach((paramSet, index) => {
                    const splitted = paramSet.toString().split('/');
                    const paramValue = splitted.length === 13 ? splitted[skillLevel2 - 1] : splitted.length === 9 ? splitted[potentialLevel - 1] : splitted[0];
                    const tooltip = pot.hiddenParamsTooltips[index];
                    const tooltipContent = `
                        ${!tooltip.damageType ? '' : `Damage: ${tooltip.damageType}<br />`}
                        ${!tooltip.effectType ? '' : `Effect: ${tooltip.effectType}<br />`}
                        ${!tooltip.addAttrType ? '' : `AddAttr: ${tooltip.addAttrType}<br />`}
                        ${!tooltip.buffIcon ? '' : `Buff: ${tooltip.buffIcon === 'No Icon' ? 'No Icon' : `<img src="https://chino.is-a.dev/cdn-cgi/image/format=avif/https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/buff/${tooltip.buffIcon}.webp" alt="${tooltip.buffIcon}" title="${tooltip.buffIcon}" width="26" height="36" />`}<br />`}
                    `.trim();
                    result = result.replaceAll(`&HiddenParam${index + 1}&`, !tooltipContent ? paramValue : `<span class="tooltip">${paramValue}<span class="tooltip-text">${tooltipContent}</span></span>`);
                });

                e.querySelector('h3').innerHTML = `${pot.id % 100}. ${pot[nameLang]}`;
                e.querySelector('p').innerHTML = format(result);
            });
        }

        const talentNameElements = document.querySelectorAll('.talent h2');
        const talentElements = document.querySelectorAll('.talent p:first-of-type');
        const talentLangInput = document.querySelector('#talents .langtabs-wrapper');

        let talentLang;
        talentLangInput.addEventListener('click', (e) => {
            if (e.target.classList.contains('langtab')) {
                talentLangInput.querySelectorAll('.langtab').forEach((btn) => btn.classList.remove('active'));
                e.target.classList.add('active');
                talentLangInput.dataset.lang = e.target.dataset.lang;
                onTalentsInput();
            }
        });
        onTalentsInput();

        function onTalentsInput() {
            talentLang = talentLangInput.dataset.lang;

            talentElements.forEach((e, i) => {
                const talent = char.talent[i];
                const params = talent.boost[0].params;
                const nameLang = `name${talentLang === 'EN' ? '' : talentLang}`;
                const descLang = `desc${talentLang === 'EN' ? '' : talentLang}`;
                const name = talent.boost[0][nameLang];
                let desc = talent.boost[0][descLang];

                params.forEach((param, index) => {
                    const tooltip = talent.boost[0].paramsTooltips[index];
                    const tooltipContent = `
                    ${!tooltip.damageType ? '' : `Damage: ${tooltip.damageType}<br />`}
                    ${!tooltip.effectType ? '' : `Effect: ${tooltip.effectType}<br />`}
                    ${!tooltip.addAttrType ? '' : `AddAttr: ${tooltip.addAttrType}<br />`}
                    ${!tooltip.buffIcon ? '' : `Buff: ${tooltip.buffIcon === 'No Icon' ? 'No Icon' : `<img src="https://chino.is-a.dev/cdn-cgi/image/format=avif/https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/buff/${tooltip.buffIcon}.webp" alt="${tooltip.buffIcon}" title="${tooltip.buffIcon}" width="26" height="36" />`}<br />`}
                `.trim();
                    desc = desc.replaceAll(`&Param${index + 1}&`, !tooltipContent ? param : `<span class="tooltip">${param}<span class="tooltip-text">${tooltipContent}</span></span>`);
                });

                talentNameElements[i].innerHTML = `${i + 1}. ${name}`;
                talentElements[i].innerHTML = format(desc);
            });
        }

        const talentBonusStat = document.querySelector('.talent-bonus-stat p');

        let bonusStatResult = '';

        char.talent[0].boost.slice(1).forEach((boost, i) => {
            if ([6, 7, 8, 9, 10].includes(i + 1)) return;

            let desc = boost.desc;

            boost.params.forEach((param, index) => {
                param = param.toString();
                if ([1, 2, 3, 4, 5].includes(i + 1)) {
                    if (param.includes('%')) {
                        param = parseFloat(param) * 2 + '%';
                    } else {
                        param = parseFloat(param) * 2;
                    }
                }
                desc = desc
                    .replaceAll(`&Param${index + 1}&`, param)
                    .replaceAll('Increases ', '')
                    .replaceAll('Base ', '')
                    .replaceAll('by ', '+')
                    .replace(/\.$/, '');
            });

            bonusStatResult += `${format(desc)}<br />`;
        });

        talentBonusStat.innerHTML = bonusStatResult;
    </script>

    <style>
        .skill-header h2 {
            margin: 0;
        }

        .potential-wrapper {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        .potential-wrapper > img {
            margin: 10px 0;
        }

        .date {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin: 1rem 0;

            h2 {
                margin: 0;
            }
        }

        p:not(.small) {
            margin: 0.5rem 0;
        }
    </style>
</Layout>
