---
// @ts-nocheck
import { Image } from 'astro:assets';
import Layout from '@/layouts/Layout.astro';
import Page from '@/components/Page.astro';
import Tabs from '@/components/Tabs.astro';

export async function getStaticPaths() {
    const DATA_URL = 'https://raw.githubusercontent.com/AutumnVN/StellaSoraData/refs/heads/main/blitz.json';
    const data = await fetch(DATA_URL).then((res) => res.json());

    return Object.keys(data).map((id) => ({
        params: { id },
    }));
}

const DATA_URL = 'https://raw.githubusercontent.com/AutumnVN/StellaSoraData/refs/heads/main/blitz.json';

const { params } = Astro;
const id = params.id;

const data = await fetch(DATA_URL).then((res) => res.json());
const blitz = data[id];

const emoji = {
    Aqua: '💧',
    Ignis: '🔥',
    Terra: '⛰️',
    Ventus: '🌪️',
    Lux: '☀️',
    Umbra: '🌙',
    None: '⬜',
};

if (!blitz) {
    throw Astro.redirect('/404');
}
---

<Layout title={`${blitz.name} | stelladb`} image={`https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/mapchallenge/${blitz.icon}.webp`} description={`Weak: ${blitz.weakTo.map((e) => e + emoji[e]).join(', ')}, Resist: ${blitz.resistTo}${emoji[blitz.resistTo]}${blitz.stat?.length ? `, Damage Per Score: ${blitz.damagePerScore?.toLocaleString('en-US')}` : ''}`}>
    <Page data-json={JSON.stringify(blitz)}>
        <Fragment slot="header">
            <h1>{blitz.name}</h1>
            <Tabs>
                <button data-tab="stats" class="tab active">Stats</button>
                <button data-tab="mechanic" class="tab">Mechanic</button>
            </Tabs>
        </Fragment>

        <Fragment slot="left">
            <Image src={`https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/mapchallenge/${blitz.icon}.webp`} alt={blitz.name} title={blitz.name} width="256" height="256" densities={[1.25]} />
            <div class="info">
                <p class="indent">
                    {`Type: ${blitz.type}`}<br />
                    {`Weak: ${blitz.weakTo.map((e) => e + emoji[e]).join(', ')}`}<br />
                    {`Resist: ${blitz.resistTo}${emoji[blitz.resistTo]}`}<br />
                </p>
            </div>
        </Fragment>

        <Fragment slot="right">
            <section id="stats" class="tab-panel">
                <div class="slider-container">
                    <div class="slider level">
                        <label class="level-output">Level: 1</label>
                        <input type="range" id="level" min="1" max={blitz.stat?.length} value="45" />
                    </div>
                </div>

                <div class="stats">
                    <h2>Stats</h2>
                    <p class="indent">Damage Per Score: {blitz.damagePerScore?.toLocaleString('en-US')}</p>
                    <p class="indent">
                        {
                            blitz.stat?.length &&
                                Object.entries(blitz.stat[0]).map(([stat, value]) => (
                                    <>
                                        {stat}: {value.toLocaleString('en-US')}
                                        {stat === 'DEF' ? ` (${Math.round(((value * 40) / (value * 32 + 24000)) * 100 * 100) / 100}%)` : ''}
                                        <br />
                                    </>
                                ))
                        }
                    </p>
                </div>
            </section>

            <section id="mechanic" class="tab-panel" hidden>
                {
                    blitz.mechanic.map((mechanic) => (
                        <div class="mechanic">
                            <div class="mechanic-header">
                                <Image src={`https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/monsterskill/bossrush/${mechanic.icon}.webp`} alt={mechanic.name} title={mechanic.name} width="64" height="64" densities={[1.25]} />
                                <h3>{mechanic.name}</h3>
                            </div>
                            <div class="indent">
                                <p>{mechanic.desc}</p>
                                {!mechanic.effectType?.length ? null : <p class="small">Effect: {mechanic.effectType.join(', ')}</p>}
                                {!mechanic.buffIcon?.length ? null : <p class="small">Buff: {mechanic.buffIcon.map((icon) => (icon === 'No Icon' ? 'No Icon' : <Image src={`https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/buff/${icon}.webp`} alt={icon} title={icon} width="26" height="36" densities={[1.25]} />)).reduce((prev, curr) => [prev, ' ', curr])}</p>}
                            </div>
                        </div>
                    ))
                }
            </section>
        </Fragment>
    </Page>

    <script>
        // @ts-nocheck
        const blitz = JSON.parse(document.querySelector('.page').dataset.json);

        const levelInput = document.querySelector('#level');
        const levelOutput = document.querySelector('.level-output');
        const stats = document.querySelector('.stats p+p');

        let level = 1;

        levelInput.addEventListener('input', onLevelInput);
        onLevelInput();

        function onLevelInput() {
            level = +levelInput.value;
            levelOutput.textContent = `Level: ${level}`;

            stats.innerHTML = blitz.stat?.length
                ? `${Object.entries(blitz.stat[level - 1])
                      .map(([stat, value]) => `${stat}: ${value.toLocaleString('en-US')}${stat === 'DEF' ? ` (${Math.round(((value * 40) / (value * 32 + 24000)) * 100 * 100) / 100}%)` : ''}<br />`)
                      .join('')}`
                : 'No stats available';
        }

        const mechanicDesc = document.querySelectorAll('.mechanic p:first-of-type');
        mechanicDesc.forEach((desc) => {
            desc.innerHTML = desc.textContent.replace(/<color=#(.{6})>/g, '<color style="color:#$1">').replace(/\u000b/g, '<br />');
        });
    </script>
</Layout>
