---
// @ts-nocheck
import Layout from '@/layouts/Layout.astro';
import Tabs from '@/components/Tabs.astro';

export async function getStaticPaths() {
    const DATA_URL = 'https://raw.githubusercontent.com/AutumnVN/StellaSoraData/refs/heads/main/duel.json';
    const data = await fetch(DATA_URL).then((res) => res.json());

    return Object.keys(data).map((id) => ({
        params: { id },
    }));
}

const DATA_URL = 'https://raw.githubusercontent.com/AutumnVN/StellaSoraData/refs/heads/main/duel.json';

const { params } = Astro;
const id = params.id;

const data = await fetch(DATA_URL).then((res) => res.json());
const duel = data[id];

const emoji = {
    Aqua: '💧',
    Ignis: '🔥',
    Terra: '⛰️',
    Ventus: '🌪️',
    Lux: '☀️',
    Umbra: '🌙',
    None: '⬜',
};

if (!duel) {
    throw Astro.redirect('/404');
}
---

<Layout title={`${duel.name} | stelladb`} image={`https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/monster/${duel.icon}.webp`} description={`Weak: ${duel.weakTo.map((e) => e + emoji[e]).join(', ')}, Resist: ${duel.resistTo}${emoji[duel.resistTo]}, Lv100 HP: ${(duel.stat.HP + (duel.diff[100].HP || 0)).toLocaleString('en-US')}`}>
    <div class="duel-page" data-json={JSON.stringify(duel)}>
        <div class="header">
            <h1>{duel.name}</h1>

            <Tabs>
                <button data-tab="stats" class="tab active">Stats</button>
                <button data-tab="mechanic" class="tab">Mechanic</button>
            </Tabs>
        </div>

        <div class="content">
            <div class="left">
                <img src={`https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/monster/${duel.icon}.webp`} alt={duel.name} title={duel.name} width="256" height="256" onerror="this.style.display='none'" />
                <div class="info">
                    <p class="indent">
                        {`Type: ${duel.type}`}<br />
                        {`Weak: ${duel.weakTo.map((e) => e + emoji[e]).join(', ')}`}<br />
                        {`Resist: ${duel.resistTo}${emoji[duel.resistTo]}`}<br />
                    </p>
                </div>
            </div>

            <div class="right">
                <section id="stats" class="tab-panel">
                    <div class="slider-container">
                        <div class="slider difficulty">
                            <label class="difficulty-output">Difficulty: 100</label>
                            <input type="range" id="difficulty" min="0" max={duel.diff.length - 1} value="100" />
                        </div>
                    </div>

                    <div class="stats">
                        <h2>Stats</h2>
                        <p class="indent">
                            {
                                Object.entries(duel.stat).map(([stat, value]) => (
                                    <>
                                        {stat}: {(value + (typeof value === 'number' ? duel.diff[100][stat] || 0 : '')).toLocaleString('en-US')}
                                        <br />
                                    </>
                                ))
                            }
                        </p>
                    </div>
                </section>

                <section id="mechanic" class="tab-panel" hidden>
                    {
                        duel.mechanic.map((group) => (
                            <div class="mechanic-group">
                                {group.map((mechanic) => (
                                    <div class="mechanic">
                                        <div class="mechanic-header">
                                            <img src={`https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/ui_activity/_${duel.activityId}/affix/${mechanic.icon}.webp`} alt={mechanic.name} title={mechanic.name} width="64" height="64" onerror="this.style.display='none'" />
                                            <h3>
                                                {mechanic.name} ({mechanic.diff})
                                            </h3>
                                        </div>
                                        <p class="indent">{mechanic.desc}</p>
                                    </div>
                                ))}
                            </div>
                        ))
                    }
                </section>
            </div>
        </div>
    </div>

    <script>
        // @ts-nocheck
        const duel = JSON.parse(document.querySelector('.duel-page').dataset.json);

        const difficultyInput = document.querySelector('#difficulty');
        const difficultyOutput = document.querySelector('.difficulty-output');
        const stats = document.querySelector('.stats p');

        let difficulty = 100;

        difficultyInput.addEventListener('input', ondifficultyInput);
        ondifficultyInput();

        function ondifficultyInput() {
            difficulty = +difficultyInput.value;
            difficultyOutput.textContent = `Difficulty: ${difficulty}`;

            stats.innerHTML = `${Object.entries(duel.stat)
                .map(([stat, value]) => `${stat}: ${(value + (typeof value === 'number' ? duel.diff[difficulty][stat] || 0 : '')).toLocaleString('en-US')}<br />`)
                .join('')}`;
        }

        const mechanicDesc = document.querySelectorAll('.mechanic p');
        mechanicDesc.forEach((desc) => {
            desc.innerHTML = desc.textContent.replace(/<color=#(.{6})>/g, '<color style="color:#$1">').replace(/\u000b/g, '<br />');
        });
    </script>

    <style>
        .duel-page {
            padding: 0 1rem;

            .header {
                display: flex;
                position: sticky;
                top: var(--nav-height);
                align-items: center;
                backdrop-filter: blur(5px);
                margin: 0 auto;
                background: var(--bg1a);
                padding: 0 1rem;
                max-width: 1000px;
                height: var(--nav-height);
            }

            h1 {
                margin: 0 1rem 0 0;
                font-weight: 700;
                font-size: 1.5rem;
            }

            .content {
                display: flex;
                gap: 1rem;
                padding: 1rem;

                .left {
                    width: 256px;

                    img {
                        object-fit: cover;
                        object-position: top;
                    }
                }

                .right {
                    flex: 1;
                    min-width: 0;
                }
            }

            @media (width < 800px) {
                .content {
                    flex-direction: column;
                }

                .left {
                    display: flex;
                    width: 100% !important;
                }
            }

            .slider-container {
                position: sticky;
                top: calc(var(--nav-height) * 2);
                backdrop-filter: blur(5px);
                background: var(--bg1a);
                padding: 1rem;
            }

            .slider {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                width: 100%;

                label {
                    width: 16ch;
                }

                input[type='range'] {
                    flex: 1;
                    width: 100%;
                    min-width: 0;
                    accent-color: var(--accent);
                }
            }

            .mechanic-group {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            }

            .mechanic-header {
                display: flex;
                align-items: center;
            }

            h2 {
                margin: 1rem 0;
            }

            h3 {
                margin: 0.75rem 0;
            }

            p {
                margin: 0.25rem 0;
            }
        }
    </style>
</Layout>
