---
// @ts-nocheck
import { Image } from 'astro:assets';
import Layout from '@/layouts/Layout.astro';
import Tabs from '@/components/Tabs.astro';
import Page from '@/components/Page.astro';

export async function getStaticPaths() {
    const DATA_URL = 'https://raw.githubusercontent.com/AutumnVN/StellaSoraData/refs/heads/main/duel.json';
    const data = await fetch(DATA_URL).then((res) => res.json());

    return Object.keys(data).map((id) => ({
        params: { id },
        props: { duel: data[id] },
    }));
}

const {
    params: { id },
    props: { duel },
} = Astro;

const emoji = {
    Aqua: '💧',
    Ignis: '🔥',
    Terra: '⛰️',
    Ventus: '🌪️',
    Lux: '☀️',
    Umbra: '🌙',
    None: '⬜',
};

if (!duel) {
    throw Astro.redirect('/404');
}
---

<Layout title={`${duel.name} | stelladb`} image={`https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/monster/${duel.icon}.webp`} description={`Weak: ${duel.weakTo.map((e) => e + emoji[e]).join(', ')}, Resist: ${duel.resistTo}${emoji[duel.resistTo]}, Lv100 HP: ${(duel.stat.HP + (duel.diff[100].HP || 0)).toLocaleString('en-US')}`}>
    <Page data-json={JSON.stringify(duel)}>
        <Fragment slot="header">
            <h1>{duel.name}</h1>
            <Tabs>
                <button data-tab="stats" class="tab active">Stats</button>
                <button data-tab="mechanic" class="tab">Mechanic</button>
            </Tabs>
        </Fragment>

        <Fragment slot="left">
            <Image src={`https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/monster/${duel.icon}.webp`} alt={duel.name} title={duel.name} width="256" height="256" densities={[1.25]} />
            <div class="info">
                <p class="indent">
                    {`Type: ${duel.type}`}<br />
                    {`Weak: ${duel.weakTo.map((e) => e + emoji[e]).join(', ')}`}<br />
                    {`Resist: ${duel.resistTo}${emoji[duel.resistTo]}`}<br />
                </p>
            </div>
        </Fragment>

        <Fragment slot="right">
            <section id="stats" class="tab-panel">
                <div class="slider-container">
                    <div class="slider difficulty">
                        <label class="difficulty-output">Difficulty: 100</label>
                        <input type="range" id="difficulty" min="0" max={duel.diff.length - 1} value="100" />
                    </div>
                </div>

                <div class="stats">
                    <h2>Stats</h2>
                    <p class="indent">
                        {
                            Object.entries(duel.stat).map(([stat, value]) => (
                                <>
                                    {stat}: {(value + (typeof value === 'number' ? duel.diff[100][stat] || 0 : '')).toLocaleString('en-US')}
                                    <br />
                                </>
                            ))
                        }
                    </p>
                </div>
            </section>

            <section id="mechanic" class="tab-panel" hidden>
                {
                    duel.mechanic.map((group) => (
                        <div class="mechanic-group">
                            {group.map((mechanic) => (
                                <div class="mechanic">
                                    <div class="mechanic-header">
                                        <Image src={`https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/ui_activity/_${duel.activityId}/affix/${mechanic.icon}.webp`} alt={mechanic.name} title={mechanic.name} width="64" height="64" densities={[1.25]} />
                                        <h3>
                                            {mechanic.name} ({mechanic.diff})
                                        </h3>
                                    </div>
                                    <p class="indent">{mechanic.desc}</p>
                                </div>
                            ))}
                        </div>
                    ))
                }
            </section>
        </Fragment>
    </Page>

    <script>
        // @ts-nocheck
        const duel = JSON.parse(document.querySelector('.page').dataset.json);

        const difficultyInput = document.querySelector('#difficulty');
        const difficultyOutput = document.querySelector('.difficulty-output');
        const stats = document.querySelector('.stats p');

        let difficulty = 100;

        difficultyInput.addEventListener('input', ondifficultyInput);
        ondifficultyInput();

        function ondifficultyInput() {
            difficulty = +difficultyInput.value;
            difficultyOutput.textContent = `Difficulty: ${difficulty}`;

            stats.innerHTML = `${Object.entries(duel.stat)
                .map(([stat, value]) => `${stat}: ${(value + (typeof value === 'number' ? duel.diff[difficulty][stat] || 0 : '')).toLocaleString('en-US')}<br />`)
                .join('')}`;
        }

        const mechanicDesc = document.querySelectorAll('.mechanic p');
        mechanicDesc.forEach((desc) => {
            desc.innerHTML = desc.textContent.replace(/<color=#(.{6})>/g, '<color style="color:#$1">').replace(/\u000b/g, '<br />');
        });
    </script>

    <style>
        .mechanic-group {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
    </style>
</Layout>
