---
// @ts-nocheck
import { Image, getImage, inferRemoteSize } from 'astro:assets';
interface Props {
    href: string;
    name?: string;
    desc?: string;
    desc2?: string;
    star?: number;
    image?: string;
    inset?: number;
    element?: string;
    elementSize?: number;
    charClass?: string;
    attackType?: string;
    position?: string;
}

const { href, name, desc, desc2, star, image, inset = 0, element, elementSize = 48, charClass, attackType, position = 'top' } = Astro.props;
---

<div class={`card-border ${star ? `star${star}` : ''}`}>
    <a href={href} class="card">
        <div class="image" style={image ? `background-image: url(${(await getImage({ src: image, ...(await inferRemoteSize(image).then((size) => (size?.width && size?.height ? (size.width < size.height ? { width: 330, height: (330 * size.height) / size.width } : { height: 330, width: (330 * size.width) / size.height }) : { width: 330, height: 330 }))) })).src}); inset: ${inset}px; background-position: ${position};` : undefined}></div>
        {
            name && (
                <div class="text">
                    <h2>{name}</h2>
                    {desc && <p>{desc}</p>}
                    {desc2 && <p>{desc2}</p>}
                </div>
            )
        }
        {
            charClass && (
                <div class={`char-info ${charClass.toLowerCase()}`}>
                    <div class="char-class">{charClass}</div>
                    {attackType && (
                        <div class="attack-type">
                            <Image src={`/${attackType}.avif`} width="16" height="16" alt={attackType} densities={[1.25]} />
                        </div>
                    )}
                </div>
            )
        }
    </a>
    {element && <Image class="element" src={`/${element}.avif`} width={elementSize} height={elementSize} alt={element} densities={[1.25]} />}
</div>

<style>
    .card-border {
        display: block;
        position: relative;

        .card {
            display: block;
            position: relative;
            background: var(--bg2);
            padding: 0;
            aspect-ratio: 1 / 1;
            overflow: hidden;
            color: var(--text);
            text-decoration: none;

            h2 {
                margin: 0;
                font-size: 1.15rem;
            }

            p {
                margin: 0.25rem 0 0 0;
                color: var(--muted);
                font-size: 0.8rem;
            }
        }

        &:not([class*='star']) {
            .card {
                border-radius: 5px;
            }
        }

        &[class*='star'] {
            mask:
                linear-gradient(transparent 0 0) content-box,
                linear-gradient(#000 0 0);
            mask-composite: exclude;
            border-radius: 5px;
            padding: 5px;
        }

        &.star3 {
            background: linear-gradient(135deg, #8ce, #dff);
        }

        &.star4 {
            background: linear-gradient(135deg, #fd5, #efc);
        }

        &.star5 {
            background: linear-gradient(135deg, #d8e, #7ff);
        }

        .image {
            position: absolute;
            inset: 0;
            background-position: top;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .text {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 0.75rem;

            &::before {
                position: absolute;
                inset: -10px -10px -6px -10px;
                background: linear-gradient(180deg, #0000 0%, #0009 35%, #000d 75%, #000f 100%);
                content: '';
            }

            h2,
            p {
                position: relative;
            }
        }

        .char-info {
            display: flex;
            position: absolute;
            top: 0;
            right: 0;
            align-items: center;
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 7% 100%);
            font-weight: 400;

            &.vanguard {
                background: #d69;
            }

            &.versatile {
                background: #78e;
            }

            &.support {
                background: #4ca;
            }

            &.overlord {
                background: #f45;
            }

            &.sentinel {
                background: #f83;
            }

            &.elite {
                background: #fb3;
            }

            .char-class {
                padding: 0.25rem 0.25rem 0.25rem 0.75rem;
            }

            &:not(:has(.attack-type)) {
                .char-class {
                    padding-right: 0.5rem;
                }
            }

            .attack-type {
                clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
                background: #36a;
                padding: 0.35rem 0.25rem 0.15rem 0.5rem;
            }
        }

        .element {
            position: absolute;
            top: -4px;
            left: -4px;
            pointer-events: none;
        }
    }
</style>
