---
// @ts-nocheck
import Layout from '@/layouts/Layout.astro';
import Page from '@/components/Page.astro';
import Tabs from '@/components/Tabs.astro';
import { Image } from 'astro:assets';

export async function getStaticPaths() {
    const DATA_URL = 'https://raw.githubusercontent.com/AutumnVN/StellaSoraData/refs/heads/main/ground.json';
    const data = await fetch(DATA_URL).then((res) => res.json());

    return Object.keys(data).map((id) => ({
        params: { id },
        props: { ground: data[id] },
    }));
}

const {
    params: { id },
    props: { ground },
} = Astro;

const emoji = {
    Aqua: '💧',
    Ignis: '🔥',
    Terra: '⛰️',
    Ventus: '🌪️',
    Lux: '☀️',
    Umbra: '🌙',
    None: '⬜',
};

if (!ground) {
    throw Astro.redirect('/404');
}
---

<Layout title={`${ground.name} | stelladb`} image={`https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/mapchallenge/${ground.icon}.webp`} description={`Weak: ${ground.weakTo.map((e) => e + emoji[e]).join(', ')}, Resist: ${ground.resistTo}${emoji[ground.resistTo]}, Last diff HP: ${ground.diff[ground.diff.length - 1].stat.HP.toLocaleString('en-US')}`}>
    <Page data-json={JSON.stringify(ground)}>
        <Fragment slot="header">
            <h1>{ground.name}</h1>
            <Tabs>
                <button data-tab="stats" class="tab active">Stats</button>
                <button data-tab="mechanic" class="tab">Mechanic</button>
            </Tabs>
        </Fragment>

        <Fragment slot="left">
            <Image src={`https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/mapchallenge/${ground.icon}.webp`} alt={ground.name} title={ground.name} width="256" height="256" densities={[1.25]} />
            <div class="info">
                <p class="indent">
                    {`Type: ${ground.type}`}<br />
                    {`Weak: ${ground.weakTo.map((e) => e + emoji[e]).join(', ')}`}<br />
                    {`Resist: ${ground.resistTo}${emoji[ground.resistTo]}`}<br />
                </p>
            </div>
        </Fragment>

        <Fragment slot="right">
            <section id="stats" class="tab-panel">
                <div class="slider-container">
                    <div class="slider difficulty">
                        <label class="difficulty-output">Difficulty: {ground.diff.length}</label>
                        <input type="range" id="difficulty" min="0" max={ground.diff.length - 1} value={ground.diff.length - 1} />
                    </div>
                </div>

                <div class="stats">
                    <h2>Stats</h2>
                    <p class="indent">
                        {
                            Object.entries(ground.diff[0].stat).map(([stat, value]) => (
                                <>
                                    {stat}: {value.toLocaleString('en-US')}
                                    {stat === 'DEF' ? ` (${Math.round(((value * 40) / (value * 32 + 24000)) * 100 * 100) / 100}%)` : ''}
                                    <br />
                                </>
                            ))
                        }
                    </p>
                </div>
            </section>

            <section id="mechanic" class="tab-panel" hidden>
                {
                    ground.mechanic.map((mechanic) => (
                        <div class="mechanic">
                            <div class="mechanic-header">
                                <Image src={`https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/monsterskill/regionaffix/${mechanic.icon}.webp`} alt={mechanic.name} title={mechanic.name} width="64" height="64" densities={[1.25]} />
                                <h3>{mechanic.name}</h3>
                            </div>
                            <p class="indent">{mechanic.desc}</p>
                        </div>
                    ))
                }
            </section>
        </Fragment>
    </Page>

    <script>
        // @ts-nocheck
        const ground = JSON.parse(document.querySelector('.page').dataset.json);

        const difficultyInput = document.querySelector('#difficulty');
        const difficultyOutput = document.querySelector('.difficulty-output');
        const stats = document.querySelector('.stats p');

        let difficulty = 0;

        difficultyInput.addEventListener('input', onDifficultyInput);
        onDifficultyInput();

        function onDifficultyInput() {
            difficulty = +difficultyInput.value;

            difficultyOutput.innerHTML = `Difficulty: ${difficulty + 1}`;
            stats.innerHTML = `${Object.entries(ground.diff[difficulty].stat)
                .map(([stat, value]) => `${stat}: ${value.toLocaleString('en-US')}${stat === 'DEF' ? ` (${Math.round(((value * 40) / (value * 32 + 24000)) * 100 * 100) / 100}%)` : ''}<br />`)
                .join('')}`;
        }
    </script>
</Layout>
